.foto {
    object-fit: inherit;
    width: 100%;
    border-radius: 100em;
    text-align: center;
}

body {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    max-width: 80em;
    align-content: stretch;
}

.name-cotacts{
    display: none;
}

.contacts {
    display: flex;
    flex-direction: column;
    max-width:25%;
    border: 2px solid black;
    padding: 15px 15px 0px 15px;
    background-color: bisque;
    font-size:120%;
}

.about-content{
    display: none;
}

.content {
    max-width:85vw;
    height: 100%;
    border: 2px solid black;
    padding: 0px 15px 0px 15px;
    background-color:aliceblue;
}

.content p {
    margin:0.5em;
}

h2 {
    margin-top: 1rem;
    margin-bottom: 0.6rem;
    font-family: Arial, sans-serif;
}

h3 {
    margin-top: 1.5rem;
    margin-bottom: 0.6rem;
    padding-left: 2em;
}

h4 {
    margin-top: 0.8rem;
    margin-bottom: 1rem;
    padding-left: 2em;
}

ul {
    margin-top: 0.5rem;
}

span.period {
    font-weight:normal;
    font-size:80%;
}

.social-icons {
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    list-style: none;
    margin-top: 0.1rem;
    margin-bottom: 1rem;
    padding-left: 0;
}

.social-icons>li {
    margin-left: 0.25rem;
    margin-right: 0.25rem;
}

.social-icons img {
    width: 2rem;
    height: 2rem;
    border-radius: 1rem;
}
